<div class="page-header">
  <span class="pull-right">
    <%= link_to 'Add question', new_question_path %>
  </span>
  <h1>List of questions</h1>
</div>

<%= render partial: 'questions/table', locals: {questions: @questions} %>
