<div class="row">
  <div class="col-md-6">
    <%= render partial: 'questions/table', locals: {title: 'Unused public questions', questions: @unused_public_questions} %>
  </div>

  <div class="col-md-6">
    <%= render partial: 'questions/table', locals: {title: "Your questions' repository", questions: current_user.organization.questions} %>
  </div>
</div>