<% content_for :title, 'Add a question' %>

<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">

    <!-- header -->
    <div class="panel-heading">
      <h3>Write a new question</h3>
    </div>

    <!-- body -->
    <div class="panel-body">
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>
