<% content_for :title, 'Create a quiz' %>

<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">

    <!-- header -->
    <div class="panel-heading">
      <h3><%= icon('users')%> Generate a quiz</h3>
    </div>

    <!-- body -->
    <div class="panel-body">
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>
