<div class="jumbotron">
  <h1>Avoid Buyer's Remorse!</h1>
  <p class="lead">
    <strong>sKiller</strong> is great but I can't find a catchy description...
    If you have any hints, let me know!
  </p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
  <p class="text-muted">
    <small>
      <em>We are prototyping our ideas, any help will be welcome</em>
    </small>
  </p>
</div>