<div class="jumbotron">
  <h1>Avoid Buyer's Remorse!</h1>
  <p class="lead">
    <strong>sKiller</strong> is great but I can't find a catchy description...
    If you have any hints, let me know!
  </p>
  <p><%= link_to 'Sign up today', new_user_registration_path, :role => 'button', :class =>'btn btn-lg btn-success' %></p>
  <p class="text-muted">
    <small>
      <em>We are prototyping our ideas, any help will be welcome</em>
    </small>
  </p>
</div>