@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "utils";
@import "parse_markdown";

// header
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px;
  /* Make the masthead heading the same height as the navigation */
  h3 a {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
  ul.nav-pills {
    padding-top: 23px;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

// Footer
footer {
  border-top: solid 1px $gray-lighter;
  padding-top: 10px;
  margin-top: 40px;
}