span.big-icon {
  font-size: 64px;
}
span.medium-icon {
  font-size: 32px;
}

.green {
  color: $brand-success;
}

.red {
  color: $brand-danger
}

.blue {
  color: $brand-primary
}

ul.nav-pills {
  margin-bottom: 15px;
}

a.active-filter {
  border-radius: 0.25em;
  color: white;
  display: inline;
  line-height: 1;
  padding: 5px 10px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: $brand-primary;
}
