<div class="row">

  <!-- Activity -->
  <div class="col-md-7">
    <div class="page-header">
      <h3>Activity</h3>
    </div>
    <% @activities.each do |activity| %>
        <div class="activity">
          <%= render_activity activity %>
        </div>
    <% end %>
  </div>

  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Last questions</h4>
      </div>

      <div class="panel-body">
        <%= render partial: 'questions/table', locals: {title: '', questions: Question.is_public.order('created_at desc').first(5)} %>
      </div>
    </div>
  </div>

</div>
