<div class="container">
  <footer class="footer">
    <small>
      One another shoot by <a href="https://www.twitter.com/AlexBoissonnat" target="_blank">alex</a>
    </small>
    <nav class="pull-right">
      <ul class="list-inline">
        <li><%= link_to "About",   '#' %></li>
        <li>-</li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
    </nav>
  </footer>
</div>
