<div class="row">
  <div class="col-md-1 text-center">
      <span class="medium-icon blue">
        <%= icon('question') %>
      </span>
  </div>

  <div class="col-md-11">
    <h5>
      <%= activity.owner.email %> has created a <%= link_to 'question', question_path(Question.find(activity.trackable_id)) %>
      <br/>
      <small><%= time_ago_in_words(activity.created_at) %></small>
    </h5>
  </div>
</div>
